{% extends 'base_generic.html' %}

{% block style %}
    #mapid { height: 180px; }
{% endblock %}

{% block links %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

{% endblock %}

{% block body %}
    <h4 style="color: #00ff22">{{ place.title }}, is a best {{ place.type }}.</h4>
    <br>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h6 style="color: #f080be">{{ place.title }}<br></h6>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Best for: </strong><br>{{ place.type }}</li>
                <li class="list-group-item"><strong>Address: </strong><br>{{ place.city }}, {{ place.address }}</li>
                <li class="list-group-item"><strong>Description: </strong><br>{{ place.description|linebreaks }}</li>
                <li class="list-group-item"><strong>Location: </strong><br>
                    <div id="m" style="width: 100%; height: 100%">
                        Near {{ place.city }}
                        Location: {{place.location}}
                    </div>
                </li>
            </ul>
        </li>
        <br>

    </ul>

{% endblock %}